# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes