# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes

Options +FollowSymLinks  
RewriteEngine On 

RewriteRule ^members/event/(.*)$ ./members/event.php?id=$1 [NC]
RewriteRule ^members/tutor/(.*)$ ./members/tutor.php?id=$1 [NC]